.nav-link::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background: black;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  .custom-toggle {
    color: black;
  }
  
  .custom-toggle svg {
    fill: black;
  }
  